.the_first_block {
	color:white;
	background-color:rgb(250, 51, 0);
	height:70px;
	width:200px;
}
.yellow_block {
	color:white;
	background-color:rgb(255, 219, 0);
	height:100px;
	width:200px;
	z-index:-1;
}
.orange_block {
	color:white;
	text-align:center;
	line-height:40px;
	background-color:rgb(250, 51, 0);
	height:40px;
	width:200px;
}
.orange_block a{
	display:inline;
	height:40px;
	width:200px;
}
.last_yellow_block {
	color:white;
	background-color:rgb(255, 219, 0);
	height:130px;
	width:200px;
	z-index:-1;
}
.hr_line_1 {
	display:inline-block;
	color:white;
	margin-top: 15px;
	margin-left:10px;
	width:170px;
	size:40px;

}
.hr_line_2 {
	display:inline-block;
	color:white;
	margin-top: 5px;
	margin-left:10px;
	width:170px;
	size:40px;
}
.hr_line_3 {
	display:inline-block;
	color:white;
	margin-top: 5px;
	margin-left:10px;
	width:170px;
	size:40px;
}
.home_image {
	display:inline-block;
	width:700px;
	height:500px;
	position:absolute;
	top:180px;
	left:250px;
}
.status {
	width:8px;
	height:8px;
	border: 3px solid #a1a1a1;
	background:#dddddd;
	border-radius:100%;
	position:absolute;
	top:718px;
	left:600px;
}

.status a{
	cursor:pointer;
	width:8px;
	height:8px;
	border-radius:100%;
	position:absolute;
}

.status a:hover {
	background-color:red;
}



